* {
  margin: 0;
  padding: 0;
}

.full-container {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 40px;
  padding: 20px;
  max-width: 100rem;
  height: 45rem;
  border-radius: 30px;
}

.for-logo {
  position: relative;
  left: 50px;
  bottom: 5px;
}

.logo {
  width: 60px;
  height: 60px;
}
.logo-desc {
  font-size: 14px;
  font-weight: 600;
  position: relative;
  right: 14px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  top: 30px;
  border-bottom: 0.2px solid black;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding-top: 20px;
  width: 100%;
  z-index: 1;
  border-radius: 30px 30px 0 0;
}

.nav-start {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  /* bottom: 64px; */
  right: 50px;
}
.navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
}

.navbar li {
  list-style: none;
}

.navbar li a {
  font-size: 20px;
  font-weight: 600;
  color: black;
  margin-right: 50px;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  padding: 8px;
  transition: 300ms ease-in-out;
  border-radius: 12px;
}
.navbar li a:hover {
  background: rgb(168, 166, 166);
  color: #181818;
  border-radius: 12px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.profile-img{
display: flex;
justify-content: center;
}

.person-img{
    border-radius: 50%;
    width: 30%;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: center;
    margin-bottom: 20px;
}
.details {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 15vw;
}
.details label {
    font-weight: bold;
    display: inline-block;
    width: 100px;
}
.details p {
    display: inline-block;
    margin: 0;
}

/* footer */
.site-footer {
    border-top: 1px solid black;
    background: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 40px 20px 40px 20px;
  }
  
  .site-footer p {
    position: relative;
    right: 12px;
  }
  .footer-logo p {
    font-family: "Poppins", sans-serif;
    color: black;
    font-size: 14px;
  }
  .footer-logo-text {
    font-family: "Poppins", sans-serif;
    position: relative;
    color: black;
    font-weight: 400;
  }
  .copyright {
    font-family: "Poppins", sans-serif;
    color: black;
    font-size: 12px;
    font-weight: 500;
    position: relative;
    top: 15px;
    right: 13px;
  }
  .quick-link h2 {
    font-family: "Poppins", sans-serif;
    color: black;
    font-weight: 600;
    font-size: 16px;
    margin-top: 14px;
    margin-bottom: 3px;
    position: relative;
    left: 8px;
  }
  .quick-link li {
    list-style: none;
  }
  
  .quick-link li a {
    font-family: "Poppins", sans-serif;
    color: black;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    margin: 10px;
  }
  
  .icons-footer {
    width: 20px;
    height: 20px;
    margin: 4px 13px 4px 4px;
  }
  
  .get-in-touch h2 {
    font-family: "Poppins", sans-serif;
    color: black;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 4px;
    margin-top: 14px;
    position: relative;
    left: 8px;
  }
  .get-in-touch p {
    font-family: "Poppins", sans-serif;
    color: black;
    font-size: 14px;
    font-weight: 400;
    margin: 4px;
  }
  
  .social-media {
    display: flex;
    flex-direction: column;
  }
  
  .social-media h2 {
    font-family: "Poppins", sans-serif;
    color: black;
    font-size: 16px;
    font-weight: 600;
    margin-top: 14px;
    position: relative;
    left: 8px;
    margin-bottom: 2px;
  }
  
  .social-media p {
    font-family: "Poppins", sans-serif;
    color: black;
    font-size: 14px;
    margin: 4px;
    font-weight: 400;
  }
  
  .get-in-touch {
    display: flex;
    flex-direction: column;
  }
  
  /* lining it up */
  .phone-number {
    display: flex;
  }
  .location {
    display: flex;
  }
  .mail {
    display: flex;
  }
  
  /* lining up social media*/
  .fb {
    display: flex;
  }
  .twt {
    display: flex;
  }
  .insta {
    display: flex;
  }
      
