*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

.full-container { 
    /* background: #e5f6fc; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 40px;
    padding: 20px;
    max-width: 100rem;
    height: 45rem;
    border-radius: 30px;
}

nav { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 10px;
    position: relative;
    margin-top: 20px;
}
.logo { 
    width: 60px;
    height: 60px;
    position: relative;
    left: 50px;
  }
.logo-align { 
    display: flex;
    flex-direction: column;
}
.logo-txt { 
    font-size: 16px;
    color: black; 
    position: relative;
    top: 10px;
    left: 25px;
    width: 300px;
    font-weight: 600;
}
.profile-logo { 
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.profile-align { 
    display: flex;
    flex-direction: column;
}
.profile-txt { 
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 700;
    width: 100px;
    position: relative;
    right: 15px;
}
nav ul { 
    width: 100%;
    text-align: right;
}

nav ul li { 
    display: inline-block;
    list-style: none;
}

nav ul li a { 
    font-family: "Poly", serif;
    font-size: 20px;
    font-weight: 700;
    color: black;
    margin-right: 50px;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    padding: 8px;
    transition: 300ms ease-in-out;
    border-radius: 12px;
    right: 20px;
}
nav li a:hover { 
    background: rgb(197, 193, 193);
    color: #181818;
    border-radius: 12px;
  }

.submenu-wrap { 
    position: absolute; 
    left: 1300px;
    top: 159px;
    width: 140px;
    display: none;
}
.submenu-wrap.open-menu {
    display: block;

}
.submenu { 
    background: white;
    color: black;
    padding: 16px 10px 16px 10px;
    margin: 14px 10px 14px 10px;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;}
.userinfo { 
    display: flex;
    align-items: center;
    flex-direction: column;
}
.userinfo a { 
    font-family: "Inter", sans-serif;
    color: black;
    font-size: 17px;
    font-weight: 500;
    text-decoration: none;
   transition: 200ms ease-in-out;
}
.userinfo a:hover {  
    cursor: pointer;
    font-weight: 600;
}

.vertical-divider {
    width: 2px; 
    height: 400px; 
    background-color: #ccc; 
    margin: 0 20px; 
    position: relative; 
}

.main { 
    display: flex;
    margin-left: 10vw;
}

.maps-info { 
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: center;
    position: relative;
    top: 135px;
    
}
.maps-info  h1{ 
    font-family: "Inter", sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    margin-bottom: 20px;
}
.maps-info p { 
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #2f2f2f;
}
.location-detail { 
    width: 70%;
    position: relative;
    left: 50px;
    top: 20px;
}

/* main portion */


.google-mapsImg { 
    width: 220px;
    height: 110px;
    margin-bottom: 30px;
}

.location-header { 
    font-size: 22px;
    font-weight:600; 
    font-family: "Inter", sans-serif;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.locationDropdown { 
    font-family: "Inter", sans-serif;
    font-size: 18px;
    margin-right: 40px;
    font-weight: 400;
    letter-spacing: 2px;
}
.location-detail select { 
    font-family: "Inter", sans-serif;
    padding: 7px;
    letter-spacing: 2px;
    border: 1px solid black;
    border-radius: 6px;
    font-size: 16px;
    background: #ebf9fe;
    color: black;
    margin-bottom: 20px;
}

.choose-date-time { 
    margin: 20px 0px 5px 60px;
}
.choose-date-time label{ 
    font-family: "Inter", sans-serif;
    padding: 7px;
    border-radius: 6px;
    font-size: 18px;
    background: #ebf9fe;
    color: black;
    margin-right: 20px;
}
.choose-date-time input{ 
    font-family: "Inter", sans-serif;
    letter-spacing: 2px;
    padding: 2px;
    border: 1px solid black;
    border-radius: 6px;
    font-size: 16px;
    background: #ebf9fe;
    color: black;
}

.choosetime { 
    margin: 0px 0px 5px 60px;

}

.choosetime label{ 
    font-family: "Inter", sans-serif;
    padding: 7px;
    border-radius: 6px;
    font-size: 18px;
    background: #ebf9fe;
    color: black;
    margin-bottom: 20px;
    margin-right: 20px;
}
.choosetime input{ 
    font-family: "Inter", sans-serif;
    padding: 2px;
    letter-spacing: 2px;
    border: 1px solid black;
    border-radius: 6px;
    font-size: 16px;
    background: #ebf9fe;
    color: black;
}

.confirm { 
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    background: #2f8caf; 
    color: white;
    text-transform: uppercase;
    width: 120px;
    height: 48px;
    padding: 8px;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 500;
    border-radius: 12px;
    transition: transform 300ms ease-in-out;
    position: relative;
    left: 130px;
    top: 20px;
    border:none;
}

.confirm:hover { 
    cursor: pointer;
    background: #084861; 

}


/* footer */
.site-footer {
    border-top: 1px solid black;
    background: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 40px 20px 40px 20px;
  }
  
  .site-footer p {
    position: relative;
    right: 12px;
  }
  .footer-logo p {
    font-family: "Poppins", sans-serif;
    color: black;
    font-size: 14px;
  }
  .footer-logo-text {
    font-family: "Poppins", sans-serif;
    position: relative;
    color: black;
    font-weight: 400;
  }
  .copyright {
    font-family: "Poppins", sans-serif;
    color: black;
    font-size: 12px;
    font-weight: 500;
    position: relative;
    top: 15px;
    right: 13px;
  }
  .quick-link h2 {
    font-family: "Poppins", sans-serif;
    color: black;
    font-weight: 600;
    font-size: 16px;
    margin-top: 14px;
    margin-bottom: 3px;
    position: relative;
    left: 8px;
  }
  .quick-link li {
    list-style: none;
  }
  
  .quick-link li a {
    font-family: "Poppins", sans-serif;
    color: black;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    margin: 10px;
  }
  
  .icons-footer {
    width: 20px;
    height: 20px;
    margin: 4px 13px 4px 4px;
  }
  
  .get-in-touch h2 {
    font-family: "Poppins", sans-serif;
    color: black;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 4px;
    margin-top: 14px;
    position: relative;
    left: 8px;
  }
  .get-in-touch p {
    font-family: "Poppins", sans-serif;
    color: black;
    font-size: 14px;
    font-weight: 400;
    margin: 4px;
  }
  
  .social-media {
    display: flex;
    flex-direction: column;
  }
  
  .social-media h2 {
    font-family: "Poppins", sans-serif;
    color: black;
    font-size: 16px;
    font-weight: 600;
    margin-top: 14px;
    position: relative;
    left: 8px;
    margin-bottom: 2px;
  }
  
  .social-media p {
    font-family: "Poppins", sans-serif;
    color: black;
    font-size: 14px;
    margin: 4px;
    font-weight: 400;
  }
  
  .get-in-touch {
    display: flex;
    flex-direction: column;
  }
  
  /* lining it up */
  .phone-number {
    display: flex;
  }
  .location {
    display: flex;
  }
  .mail {
    display: flex;
  }
  
  /* lining up social media*/
  .fb {
    display: flex;
  }
  .twt {
    display: flex;
  }
  .insta {
    display: flex;
  }
  